<?xml version="1.0" encoding="UTF-8" ?>

<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix="Test.php">
                ./tests/
            </directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_KEY" value="APP_KEY" />
        <env name="YOUDU_API" value="http://localhost:7080" />
        <env name="YOUDU_BUIN" value="12345678" />
        <env name="YOUDU_DEFAULT_APP_ID" value="YOUDU_APP_ID" />
        <env name="YOUDU_DEFAULT_AES_KEY" value="YOUDU_AES_KEY" />
    </php>
</phpunit>