name: tests

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}

    strategy:
      max-parallel: 15
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ["8.0", "8.1"]
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Install PHP
        uses: shivammathur/setup-php@master

        with:
          php-version: ${{ matrix.php-versions }}
          extension-csv: mbstring, xdebug
          ini-values-csv: "post_max_size=256M, short_open_tag=On"
          coverage: xdebug

      - name: Check PHP Version
        run: php -v

      - name: Check Composer Version
        run: composer -V

      - name: Check PHP Extensions
        run: php -m

      # - uses: actions/checkout@v1

      - name: Install dependencies
        run: |
          composer install --dev

      - name: Test
        run: |
          composer test
          # vendor/bin/phpunit
